@charset "utf-8";


/* ボディ */
body {width: 100%;
      height: 900px;
      background-color: #fffbc7;
      margin-top: 0;
      padding-top: 0;}

/* コンテナ */
#container {width: 1320px;
            height: 822px;
            margin-right: auto;
            margin-left: auto;
            position: relative;}
            

/* コンテンツ */
h1.storeoverview {background-color: #ffffff;
                  width: 85%;
                  height: 822px;
                  margin-right: auto;
                  margin-left: auto;
                  margin-top: 60px;
                  position: relative;}

/* 飾り罫左 */
#content {position: relative;}

#content img.left {url(image/lavender_under.png);
                   position: absolute;
                   top: 500px;
                   left: 0;
                   display: block;}

/* 飾り罫右 */
#content img.right {url(image/lavender_top.png);
                    position: absolute;
                    top: 13px;
                    left: 1195px;
                    display: block;}


/* 見出し */
#content p.content {font-size: 38px;
                    color: #35b597;
                    font-family:'Calibri Light', "HG丸ｺﾞｼｯｸM-PRO";
                    text-align: center;
                    position: absolute;
                    top: 0;
                    left: 500px;}

p.content {position: relative;
           padding: 0;
           text-align: center;}

p.content:before {position: absolute;
                  top: calc(50% - 1px);
                  left: 305px;
                  width: 80%;
                  height: 1px;
                  content: '';
                  background: #35b597;}

p.content:after {position: absolute;
                  top: calc(50% - 1px);
                  right: 307px;
                  width: 80%;
                  height: 1px;
                  content: '';
                  background: #35b597;}

p span.border {position: relative;
               padding: 0 2em;
               background: #ffffff;}